<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
  <meta charset="utf-8">

    <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Site Metas -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

    <!-- Site Metas -->
    <title>Event Management</title>
    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/logo-01.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="../static/images/logo-01.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
   <!-- Site CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css">

    </head>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="50">

  <!-- LOADER -->
    <div id="preloader">
    <div class="cssload-wrap">
  <div class="cssload-circle"></div>
  <div class="cssload-circle"></div>
  <div class="cssload-circle"></div>
  <div class="cssload-circle"></div>
  <div class="cssload-circle"></div>
</div></div><!-- end loader -->
    <!-- END LOADER -->

    <section class="nav-bar navbar-fixed-top">
  <div class="nav-container navbar-fixed-top">
    <div class="brand">
      <a href="#"><img src="../static/images/logo-01.png"></a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="{{url_for('home')}}">HOME</a>
        </li>
        <li>
          <a href="{{url_for('home')}}">ABOUT US</a>
        </li>
        <li>
          <a href="#">EVENTS</a>
          <ul class="nav-dropdown">
            <li>
              <a href="{{url_for('past_event')}}"> Past Event</a>
            </li>
            <li>
              <a href="#">Up-Comming Event</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{url_for('all_services')}}">SERVICES</a>
        </li>
        <li>
          <a href="{{url_for('contact_us')}}">CONTACT</a>
        </li>

        <li>
          <a href="{{url_for('gallery')}}">GALLERY</a>
        </li>
      </ul>
    </nav>
  </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
  <div class="container Service1">
    <div class="card" style="float: left;">
    <div class="imgBx">
      <img src="../static/pics/SS1014.jpg">
    </div>
    <div class="content">
      <h2>CORPORATE EVENTS</h2>
      <ul style="list-style-type:disc;font-weight: bold; font-size: 80%">
        <li>BUSINESS PARTIES (DINNERS, FAMILY,FAREWELLS)</li>
        <li>CORPORATE SPORTS EVENTS</li>
        <li>PROMOTIONAL AND PRODUCT LAUNCH EVENT, EXHIBITION</li>
      </ul>

    </div>
  </div>
  <div>
    <h4>CORPORATE EVENTS</h4>
    <p>Our team specializes in arranging corporate events on the top class levels. We organize everything from Grand Business Dinners,
    Corporate Family Meets, Farewell Events, Annual or Quarterly
    Parties to Success Events and many more. Our Professional attitude
    has enabled our staff to meet the requirements of business events
    on time. We have our forte in big events to like Brand Promotion,
    Product Launches, Corporate Sports Events, Trade Fairs &
    Exhibition, Seminars & Conferences</p>
    <h3>Key Features</h3>

<ul style="list-style-type:disc;font-weight: bold;">
  <li>BUSINESS PARTIES (DINNERS, FAMILY,FAREWELLS)</li>
  <li>CORPORATE SPORTS EVENTS</li>
  <li>PROMOTIONAL AND PRODUCT LAUNCH EVENT, EXHIBITION</li>
</ul>

  </div>
</div>
<br>
  <div class="container Service2">
    <div class="card"  style="float: right">
    <div class="imgBx">
      <img src="../static/pics/ss1012.jpg">
    </div>
    <div class="content">
      <h2>WEDDING EVENTS</h2>
      <ul style="list-style-type:disc;font-weight: bold;font-size: 80%">
        <li>GRANDE WEDDINGS</li>
        <li>MEHENDI HALDI SANGEET</li>
        <li>D.J. PARTY</li>
        <li>PRE WEDDING PHOTOSHOOTS</li>
      </ul>
    </div>
  </div>
  <div>
    <h4>WEDDING EVENTS</h4>
        <p> We provide complete wedding solutions with proper budgeting
    and arranging everything for all the events from start to end. We
    are here to make the weddings royal. We cover Grand Weddings
    and all Pre-Wedding functions like Mehendi, Haldi, Sangeet
    Ceremony, Pre wedding photoshoots, DJ Parties and many more.
    Our team stays in a strong coordination with Caterers and Make-
    up artists too. Wedding Event Management is our forte and we
    know it all</p>

  <h3>Key Features</h3>

<ul style="list-style-type:disc;font-weight: bold;">
  <li>GRANDE WEDDINGS</li>
  <li>MEHENDI HALDI SANGEET</li>
  <li>D.J. PARTY</li>
  <li>PRE WEDDING PHOTOSHOOTS</li>
</ul>

  </div>

</div>
<br>
  <div class="container Service3">
    <div class="card"  style="float: left">
    <div class="imgBx">
      <img src="../static/pics/SS1019.jpg">
    </div>
    <div class="content">
      <ul style="list-style-type:disc;font-weight: bold;font-size: 80%">
        <li>PRIVATE PARTIES</li>
        <li>KITTY PARTIES</li>
        <li>FESTIVAL CELEBRATION</li>
        <li>BIRTHDAY, POOL PARTY,ANNIVERSERY AND REUNION</li>
        <li>DEVOTIONAL EVENTS</li>
      </ul>

    </div>
  </div>
  <div>
    <h4>SOCIAL EVENTS</h4>
    <p>We cover all kinds of social events like Private Get Together or
      Parties, Kitty Parties, Pool Parties, Reunion Parties, Birthday
      Parties, Anniversary Celebrations, Funeral Gatherings,
      Devotional Events, Festivals etc. We believe in delivering
      quality services to our customers and our highly skilled team
      fully understands the emotions attached to the social events.
      Budget of the client is always given a priority by us</p>


<ul style="list-style-type:disc;font-weight: bold;">
  <li>PRIVATE PARTIES</li>
  <li>KITTY PARTIES</li>
  <li>FESTIVAL CELEBRATION</li>
  <li>BIRTHDAY, POOL PARTY,ANNIVERSERY AND REUNION</li>
  <li>DEVOTIONAL EVENTS</li>
</ul>

  </div>
</div>
<br>
  <div class="container Service4">
    <div class="card"  style="float: right">
    <div class="imgBx">
      <img src="../static/pics/SS1017.jpg">
    </div>
    <div class="content">
      <h2>ENTERTAINMENT ART & CULTURAL EVENTS</h2>
      <ul style="list-style-type:disc;font-weight: bold;font-size: 80%">
  <li>LIVE PERFORMANCES CELEBRITY MANAGEMENT STAGE SHOWS</li>
  <li>D.J. ORCHESTRA AND GARBA EVENTS</li>
  <li>FASHION AND PAGEANT EVENTS</li>
</ul>
    </div>
  </div>
    <div>
    <h4>ENTERTAINMENT ART & CULTURAL EVENTS</h4>
    <p>We ensure to arrange a lively Entertainment and
        Cultural Events. It includes Live Performances, Celebrity
        Management, Stage Shows, DJ Orchestra, Fashion &
        Pageant Events etc. Our team has an excellent
        experience in handing TV Artist and Film Celebrities. A
        detailed study is done about the budget before
        contacting the artist. Also for other Entertainment, Art
        and Cultural Events budget of the client is always kept in
        mind.</p>

  <h3>Key Features</h3>

<ul style="list-style-type:disc;font-weight: bold;">
  <li>LIVE PERFORMANCES CELEBRITY MANAGEMENT STAGE SHOWS</li>
  <li>D.J. ORCHESTRA AND GARBA EVENTS</li>
  <li>FASHION AND PAGEANT EVENTS</li>
</ul>

  </div>
</div>
<br>
  <div class="container Service5">
    <div class="card" style="float: left;">
    <div class="imgBx">
      <img src="../static/pics/SS1018.jpg">
    </div>
    <div class="content">
      <h2>PRINT SHOOTS</h2>
      <p>Fabulous arrangements for print shoots
        are also done by our team in affordable
        rates. Coordination for good lightening
        and camera is always taken care off.
        Timely arrangements of all the required
        things for the clients during print shoots</p>
    </div>
  </div>
  <div>
    <h4>PRINT SHOOTS</h4>
    <p>Fabulous arrangements for print shoots
        are also done by our team in affordable
        rates. Coordination for good lightening
        and camera is always taken care off.
        Timely arrangements of all the required
        things for the clients during print shoots.</p>

  </div>
</div>
<br>
  <div class="container Service6">
    <div class="card"  style="float: right">
    <div class="imgBx">
      <img src="../static/pics/1019.jpg">
    </div>
    <div class="content">
      <h2>MUSIC VIDEO PRODUCTION SERVICES</h2>
      <p></p>
    </div>
  </div>
    <div>
    <h4>MUSIC VIDEO PRODUCTION SERVICES</h4>
        <p>An engaging video can do a lot and our organization
    know it better. We are the excellent providers of
    Production Services. If you need a Fixer for your
    creation, then we are the right organization to take
    your vision from concept to screen. We provide you a
    production team and artist crew team to work on the
    concept of the videos or even other ideas on the
    concept.</p>

</div>

</div>
<!-- Start Footer -->
 <footer class="container-fluid bg-grey py-5">
  <div class="container footerrr">
   <div class="row">
      <div class="col-md-8">
         <div class="row">
            <div class="col-md-6 logo-part">
               <div class="">
                  <img src="../static/images/logo-01.png" class="w-50 logo-footer" >
                  <p>7637 Laurel Dr. King Of Prussia, PA 19406</p>
                  <p>We believe in maintaining long term
                    relationships with our clients and providing
                    them unique experience and outstanding
                    services</p>
               </div>
            </div>
            <div class="col-md-6 px-4 logo-part2">
              <div class="">
               <h3 style="color:#ddd"> About Company</h3>
               <p>Rejoice Divine Event is an event organization of today's time
                  which is set up with a main motive of fulfilling dreams of many
                  individuals, corporates and families. We are based at Mumbai
                  & Gwalior and cover all types of events with top class
                  arrangements. This is the best Event Company you will find at
                  Mumbai & Gwalior.</p>
               <a href="#" class="btn-footer"> More Info </a><br>
               <a href="#" class="btn-footer"> Contact Us</a>
            </div></div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row">
            <div class="col-md-12 ">
               <h5> Newsletter</h5>
               <div class="social">
                  <a href="https://www.facebook.com/rejoicedivineevent/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="https://www.instagram.com/rejoicedivineevent/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="https://rejoicedivine56@gmail.com/"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
               </div><br><br>
               <p>That's a Private Event Management Company</p>
            </div>
         </div>
      </div>
   </div>

<a href="{{url_for('contact_us')}}"><button class="open-button">Request Call Back</button></a>

   </div>
  </footer>
<!-- Footer End -->

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

  <!-- ALL JS FILES -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
  <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/contact-form-script.js"></script>
    <script src="../static/js/custom.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script  src="../static/js/function.js"></script>

</body>
</html>
